.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header p {
  margin-bottom: 0;
}

.App-header p, Button {
  margin-right: 10px;
}

.App-container {
  height: calc(100vh - 100px);
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 0 !important;
}
